# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
ENV/
env/

# IDE Settings
.vscode/
.idea/

# OS Specific
.DS_Store
Thumbs.db

# Distribution / Build
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/